body {
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16pt;
    color: #455565;
    text-align: center;
    margin:0px;
    padding:0px;
    width:100%;
}


.topnav {
    overflow: hidden;
    background-color: #632105;
}

.boo a, .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover, .dropbtn:hover {
    background-color: #8A2D07;
    color: white;
}

.topnav a.active {
    background-color: #8A2D07;
    color: white;
}


#dropdown menu

.dropbtn  {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;

}


.dropdown {
    padding-right:25px;

    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #632105;
    min-width: 160px;
    overflow: auto;
    margin-top:46.9px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #8A2D07;}

.show {display:block;}




.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button5 {
    background-color: white;
    color: #8A2D07;
    border: 2px solid #8A2D07;
}

.button5:hover {
    background-color: #8A2D07;
    color: white;
}


.button6 {
    background-color: white;
    color: #8A2D07;
    border: 2px solid #8A2D07;
    width: 25%;
    height: 40px;

}

.button6:hover {
    background-color: #8A2D07;
    color: white;
}

textarea {
    resize: none;
}



/* event dropdown */

  .eventbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width:25%;
  }

.eventbtn:hover, .eventbtn:focus {
    background-color: #3e8e41;
}

.eventwrapper {
    position: relative;
    display: inline-block;
    width:100%;
}

[class^='event-details'] {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width:25%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 714px;
}

[class^='event-details'] a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.eventwrapper a:hover {background-color: #f1f1f1}

.show1 {display:block;}


/* inside the event at home */

    .wrp{
        font-size:16px;
        text-align: left;
        padding: 5px;
        display: block;
    }

    span.timing{
        font-size:16px;
        font-weight: normal;


    }
